<h1>Hi 
<% if user_signed_in? %>
<%=     current_user.first_name %> 
<% end %>
</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h1>Blogposts</h1>
<%= @posts.inspect %>
<h1>Skills</h1>
<% for skill in @skills%>
<%= skill.title %> <br />
<%end%>

<%= user_signed_in? %>